.banner__wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 490px;
  padding-top: 30px;
  margin-bottom: 30px;

  background-image: url("/img/hero-mobile@1x.jpg");
  background-size: 573px 373px;
  background-repeat: no-repeat;
  background-position: center -15px;
}

.banner__title {
  margin: 0;
  padding: 0 30px;
  margin-bottom: 120px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.banner__item {
  padding-top: 26px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.banner__link {
  display: block;
  flex-grow: 1;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $white;
  text-decoration: none;
}

.banner__text {
  max-width: 130px;
  margin: 0;
}

.banner__item--interior {
  position: relative;

  background-color: $bg-interior;
}

.banner__item--toys {
  position: relative;
  background-color: $bg-toys;
}
