.catalog__title {
  position: relative;
  margin: 0;
  padding-bottom: 75px;
  padding-top: 70px;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  background-color: $bg-catalog;

  @media (min-width: $md) {
    padding-top: 35px;
    padding-bottom: 80px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      position: absolute;
      content: "";

      left: 0;
      right: 0;
      bottom: -12px;

      height: 24px;
      background-size: 768px 24px;
      background-position-x: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;

      @media (min-width: $lg) {
        bottom: -17px;
        height: 35px;
        background-size: 1150px 35px;
      }
    }
  }

  @media (min-width: $lg) {
    padding-bottom: 105px;

    font-size: 53px;
    line-height: 57px;
  }
}

.catalog__list {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  list-style: none;

  background-color: $white;

  @media (min-width: 640px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $md) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $lg) {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -48px;
    padding-left: 0;
    padding-right: 0;
  }
}
