.catalog__title {
  margin: 0;
  padding-bottom: 70px;
  padding-top: 75px;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  background-color: $bg-catalog;

  @media (min-width: $md) {
    padding-top: 45px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $lg) {
    font-size: 53px;
    line-height: 57px;
  }
}

.catalog__list {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  list-style: none;

  background-color: $white;

  @media (min-width: $md) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $lg) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
