.contacts {
  position: relative;
  margin-bottom: 40px;

  @media (min-width: $md) {
    margin-bottom: 58px;
  }

  @media (min-width: $lg) {
    padding-left: 225px;
    padding-right: 50px;
    margin-bottom: 105px;
  }
}

.contacts__title {
  position: relative;
  margin: 0;
  margin-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  @media (min-width: $md) {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 48px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 52px;

      width: 47px;
      height: 82px;

      transform: translateY(-50%);

      background-image: url("../img/icon-flag.svg");
      background-size: 46px 81px;
      background-repeat: no-repeat;

      @media (min-width: $lg) {
        left: -112px;
        right: auto;
        top: 102px;
      }
    }
  }

  @media (min-width: $lg) {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    margin-bottom: 48px;

    font-size: 53px;
    line-height: 57px;

    box-sizing: border-box;
  }
}

.contacts__list {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 36px;

  list-style: none;
  box-sizing: border-box;

  @media (min-width: $md) {
    display: flex;
    margin-bottom: 36px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $lg) {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 78px;
  }
}

.contacts__item {
  display: flex;
  margin-bottom: 20px;

  font-size: 15px;
  line-height: 30px;
  color: $color-contacts;

  box-sizing: border-box;

  @media (min-width: $md) {
    flex-basis: 50%;
    justify-content: flex-start;
  }

  @media (min-width: $lg) {
    flex-basis: auto;

    font-size: 17px;
  }
}

.contacts__name {
  display: block;
  margin-right: 31px;

  @media (min-width: $lg) {
    margin-right: 20px;
  }
}

.contacts__description {
  margin: 0;

  &--line {

    text-decoration: none;
    color: $color-contacts-email;

    &::after {
      display: block;
      content: "";
      height: 1px;
      width: 100%;
      background-color: $color-line;
      margin-bottom: 10px;
    }
  }
}

.contacts__description__address {
  max-width: 150px;

  @media (min-width: $md) {
    max-width: 100%;
  }
}

.contacts__map {
  margin-bottom: 38px;
  box-sizing: border-box;

  @media (min-width: $md) {
    margin-bottom: 55px;
  }

  @media (min-width: $lg) {
    position: absolute;
    top: 0;
    right: 50px;
    margin-bottom: 0;
    width: 525px;
    height: 457px;
  }
}

.contacts__button {
  @include button();

  width: 260px;
  margin: 0 auto;
  padding: 14px 10px;

  font-size: 18px;
  line-height: 20px;
  text-decoration: none;

  box-sizing: border-box;

  @media (min-width: $md) {
    width: 230px;
  }

  @media (min-width: $lg) {
    margin-left: 0;
  }
}
