.contacts {
  margin-bottom: 40px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 35px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts__list {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
}

.contacts__item {
  display: flex;

  font-size: 15px;
  line-height: 30px;
  color: $color-contacts;
}

.contacts__name {
  display: block;
  margin-right: 30px;
}

.contacts__description {
  margin: 0;
}

.contacts__description__address {
  max-width: 150px;
}

.contacts__map {
  margin-bottom: 40px;
}

.contacts__button {
  @include button();

  width: 260px;
  margin: 0 auto;
  padding: 16px 10px;

  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}
