.footer {
  background-color: $bg-footer;
}

.footer__wrap {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $md) {
    flex-direction: row;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 54px;
    padding-left: 50px;
    padding-right: 50px;
    /*min-height: 144px;*/
  }

  /* @media (min-width: $lg) {
   padding-bottom: 52px;
 }*/
}

.footer__logo-link {
  display: none;

  @media (min-width: $md) {
    display: block;
    margin-right: calc(50vw - 225px);

    svg {
      height: 35px;
      width: 102px;
    }

    &[href] {
      &:hover {
        svg {
          fill: $hover-logo-footer;
        }
      }

      &:active {
        svg {
          fill: $active-logo-footer;
        }
      }
    }
  }

  @media (min-width: $lg) {
    margin-right: 353px;
  }
}

.footer__social {
  margin: 0 auto;
  padding-bottom: 25px;

  border-bottom: 1px solid $border-footer;

  @media (min-width: $md) {
    margin: 0;
    padding-bottom: 0;
    margin-right: calc(50vw - 308px);

    border-bottom: 0;
  }

  @media (min-width: $lg) {
    margin-right: 270px;
    min-width: 145px;
  }
}

.footer__copyright {
  margin: 0 auto;
  padding-top: 24px;

  svg {
    fill: $color-footer-copyright;

    transition-property: all;
    transition-duration: 400ms;
  }

  &:hover {
    svg {
      fill: $hover-footer-copyright;
    }
  }

  &:active {
    svg {
      fill: $active-footer-copyright;
    }

    .footer__copyright-text {
      color: $active-copyright-text;
    }
  }

  @media (min-width: $md) {
    margin: 0;
    padding-top: 0;
  }
}

.footer__copyright-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
}

.footer__copyright-text {
  margin-right: 30px;
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;
}
