.modal-size {
  position: fixed;
  display: none;

  z-index: 300;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  box-sizing: border-box;
  padding: 31px 30px 46px;
  width: 320px;

  border: 1px solid $border-modal;
  background-color: $white;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);

  @media (min-width: $md) {
    width: 568px;
  }
}

.modal-size__title {
  margin: 0 auto 11px;
  max-width: 160px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: $black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $md) {
    margin: 0 0 15px;
    max-width: none;

    font-size: 30px;
    line-height: 57px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  25% {
    transform: translateY(-100px);
  }

  50% {
    transform: translateY(-50px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


.modal-show {
  display: block;
  animation: bounce 0.6s;
}
