.order-form {
  padding-bottom: 55px;
}

.order__title {
  position: relative;

  &::after {
    @media (min-width: $md) {
      content: "";
      position: absolute;

      left: 0;
      right: 0;

      bottom: -14px;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: 768px 24px;
      background-position-x: 0;
    }
  }

  padding: 75px 0;
  padding-top: 70px;
  margin: 0;
  margin-bottom: 24px;

  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;

  background-color: $bg-form;

  @media (min-width: $md) {
    font-size: 43px;
    line-height: 50px;

    padding-top: 34px;
    padding-bottom: 75px;
    margin-bottom: 80px;
  }

  @media (min-width: $lg) {
    padding-top: 45px;
    padding-bottom: 100px;
    margin-bottom: 130px;

    font-size: 53px;
    line-height: 57px;
  }
}

.order__description {
  padding-left: 30px;
  padding-right: 40px;
  padding-bottom: 23px;

  font-size: 13px;
  line-height: 24px;
  color: $color-order-description;

  @media (min-width: $md) {
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 50px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $lg) {
    padding-left: 225px;
    padding-right: 225px;
  }
}
