.promo__wrap {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  margin-bottom: 30px;

  @media (min-width: $md) {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 68px;
    margin-bottom: 51px;
  }

  @media (min-width: $lg) {
    padding-bottom: 96px;
    margin-bottom: 60px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 7px;
    background-position-x: -7px;
    background-repeat: repeat-x;

    @media (min-width: $md) {
      height: 17px;
      background-size: 768px 17px;
      background-position-x: -20px;
    }

    @media (min-width: $lg) {
      left: 50px;
      right: 50px;
      height: 23px;
      background-size: 1050px 21px;
      background-position-x: -24px;
    }
  }
}

.promo__wrap-content {
  position: relative;

  @media (min-width: $md) {
    padding-top: 16px;
    padding-right: 378px;
  }

  @media (min-width: $lg) {
    padding-left: 175px;
    padding-right: 584px;
    padding-top: 0;
  }
}

.promo__header {
  margin-bottom: 24px;

  @media (min-width: $md) {
    display: flex;
    margin-bottom: 50px;
  }

  @media (min-width: $lg) {
    margin-bottom: 64px;
  }
}

.promo__title {
  margin: 0;
  padding: 0;
  padding-bottom: 4px;

  font-size: 25px;
  color: $black;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: $md) {
    margin-right: auto;

    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
  }

  @media (min-width: $lg) {
    order: 2;
    z-index: 10;

    font-size: 53px;
    line-height: 57px;
  }
}

.promo__marker {
  margin: 0;

  font-size: 17px;
  color: $color-promo-marker;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;

  @media (min-width: $md) {
    max-width: 120px;
    margin-top: 8px;

    text-align: center;
  }

  @media (min-width: $lg) {
    order: 1;
    padding-left: 22px;
    padding-right: 28px;
    padding-top: 4px;
  }
}

.promo__description {
  padding: 0;
  margin: 0;
  padding-bottom: 18px;
  box-sizing: border-box;

  font-size: 15px;
  color: $color-promo-description;
  line-height: 24px;

  @media (min-width: $md) {
    padding-bottom: 35px;
    margin-top: -20px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $lg) {
    padding-bottom: 50px;
  }
}

.promo__table {
  margin-bottom: 28px;

  @media (min-width: $md) {
    margin-bottom: 56px;
  }

  @media (min-width: $lg) {
    margin-bottom: 110px;
  }
}

.promo__image-wrap {
  margin-bottom: 24px;

  text-align: center;

  @media (min-width: $md) {
    position: absolute;
    top: 3px;
    right: 0;
    margin: 0;
    width: 333px;
    height: 404px;
    z-index: -1;
  }

  @media (min-width: $lg) {
    top: -159px;
    width: 525px;
    height: 636px;
  }
}

.promo__img {
  display: block;
  width: 260px;
  height: 315px;
  margin: 0 auto;

  @media (min-width: $md) {
    width: 334px;
    height: 403px;
  }

  @media (min-width: $lg) {
    width: 525px;
    height: 639px;
  }
}

.promo__price {
  margin: 0;
  padding-bottom: 26px;

  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-promo-table;

  @media (min-width: $md) {
    padding-bottom: 34px;

    font-size: 20px;
  }
}

.promo__button {
  @include button();

  width: 260px;
  padding: 14px 0;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $md) {
    margin: 0;
    width: 290px;
  }
}
