.site-list__link {
  display: block;
  padding-left: 75px;
  padding-top: 28px;
  padding-bottom: 28px;

  font-size: 17px;
  font-family: "Open Sans";
  color: $black;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;

  border-bottom: 1px solid $border-color;
  /*text-shadow:
    0px 1px 0px rgba(236, 236, 236, 0) inset,
    0px 1px 0px 0px rgba(236, 236, 236, 0);*/
}

.site-list__item--logo {
  display: flex;
  padding: 22px 0;

  border-bottom: 1px solid $border-color;
}

.site-list__link--logo {
  margin: 0 auto;
  padding: 0;

  border-bottom: 0;
}

.site-list__item--promotion,
.site-list__item--delivery {
  display: none;
}

.site-list__link--search,
.site-list__link--card {
  padding-left: 30px;

  svg {
    padding-right: 25px;
    fill: rgba(0, 0, 0, 0.2);
  }
}

@media(min-width: $md) {

  .site-list__item {
    display: flex;
    padding-left: 0;
  }

  .site-list__link {
    /*padding-top: 18px;
    padding-left: 0;*/
    /*margin: auto 0;*/
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 0;

    font-size: 15px;

    border-bottom: 0;
  }

  .site-list__item--promotion {
    display: none;
  }

  .site-list__item--logo {
    order: 0;
    padding: 0;
    padding-left: 50px;
    margin: 0;
  }

  .site-list__item--user {
    order: 2;
    display: flex;
    flex-grow: 1;
    flex-basis: 75%;
    justify-content: flex-end;

    padding-right: 50px;
    padding-bottom: 0;

    border-bottom: 1px solid $border-color;
  }

  .site-list__link--card {
    padding-left: 34px;
    padding-top: 28px;

    font-size: 17px;

    border-left: 1px solid $border-color;
  }

  .site-list__link--search {
    padding-left: 0;

    font-size: 0;

    border-left: 1px solid $border-color;

    svg {
      padding-left: 35px;
      padding-right: 32px;
      padding-top: 8px;
    }
  }

  .site-list__item--delivery {
    display: flex;
    order: 5;
    flex-basis: 45%;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 50px;

    background-color: $bg-primary;

    a {
      font-weight: 400;
    }
  }

  .site-list__item--range {
    order: 3;
    display: flex;
    flex-basis: 40%;
    padding-left: 50px;

    background-color: $bg-primary;
  }

  .site-list__link--catalog {
    margin-right: 35px;
  }
}

@media(min-width: $lg) {

  .site-list__item--range {
    order: 0;
    flex-basis: 39%;
    /* align-items: center;*/
    /*padding-left: 100px;*/


    background-color: $white;
    border-bottom: 1px solid $border-color;
  }

  .site-list__link--catalog,
  .site-list__link--hand {
    padding-top: 30px;
    padding-bottom: 35px;

    font-size: 17px;
  }

  .site-list__link--catalog {
    padding-right: 35px;
    margin-right: 0;

    border-right: 1px solid $border-color;
  }

  .site-list__link--hand {
    padding-left: 35px;
  }

  .site-list__item--logo {
    order: 1;
    /*margin: 0 auto;*/
    flex-basis: auto;
  }

  .site-list__item--user {
    order: 2;
    flex-basis: 39%;
    /*padding-right: 100px;*/
  }

  .site-list__item--promotion {
    order: 4;
    flex-basis: 60%;
    position: relative;
    padding-left: 50px;

    &::before {
      position: absolute;
      content: '';

      left: calc(575px - 50vw);
      height: 100%;
      width: calc(50vw - 575px);

      background-color: $bg-primary;

    }
  }

  .site-list__item--delivery {
    position: relative;
    order: 5;
    flex-basis: 40%;
    /*padding-right: 100px;*/

    background-color: $bg-primary;

    &::after {
      position: absolute;
      content: '';

      right: calc(575px - 50vw);
      height: 100%;
      width: calc(50vw - 575px);


      background-color: $bg-primary;
    }
  }

  .site-list__item--promotion {
    display: flex;
    position: relative;

    flex-basis: 40%;
    align-items: center;

    /*padding-left: 100px;*/

    background-color: $bg-primary;

    &::after {
      position: absolute;
      content: '';

      right: calc(575px - 50vw);
      height: 100%;
      width: calc(50vw - 575px);

      background-color: $bg-primary;
    }
  }

  .site-list__link--works {
    margin-right: 60px;

    font-size: 15px;
  }

  .site-list__link--sale {
    font-size: 15px;
  }
}
