.site-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-list__link {
  display: block;
  padding-left: 75px;
  padding-top: 27px;
  padding-bottom: 27px;

  font-size: 17px;
  color: $black;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;

  border-bottom: 1px solid $border-header;
  box-sizing: border-box;

  @media (min-width: $md) {

    padding-top: 17px;
    padding-bottom: 18px;
    padding-left: 1px;

    font-size: 15px;

    border-bottom: 0;
  }


  &[href] {
    &:hover {
      color: $hover-color-menu;
    }

    &:active {
      color: $activ-color-menu;
    }
  }

  &--logo {
    display: block;
    width: 86px;
    margin: 0 auto;
    padding: 0;

    border-bottom: 0;
    overflow: hidden;

    @media (min-width: $md) {

      width: 112px;
      padding-top: 22px;

      img {
        width: 112px;
        height: 46px;
      }
    }

    @media (min-width: $lg) {

      width: 150px;
      height: 75px;
      padding-top: 8px;

      img {
        width: 150px;
        height: 75px;
      }
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--search,
  &--card {
    position: relative;
    overflow: hidden;

    svg {
      position: absolute;

      left: 32px;
      top: 50%;
      transform: translateY(-50%);

      fill: rgba(0, 0, 0, 0.2);
    }

    &:hover {
      svg {
        fill: $hover-color-search;
      }
    }

    &:active {
      svg {
        fill: $activ-color-search;
      }
    }
  }

  &--card {
    @media (min-width: $md) {

      padding-left: 85px;
      padding-top: 32px;
      padding-bottom: 32px;

      font-size: 17px;

      border-left: 1px solid $border-header;
    }
  }

  &--search {
    @media (min-width: $md) {

      padding-left: 0;
      min-width: 82px;

      font-size: 0;

      border-left: 1px solid $border-header;
    }
  }

  &--catalog {
    @media (min-width: $md) {

      margin-right: 35px;
    }

    @media (min-width: $lg) {

      padding-top: 32px;
      padding-bottom: 32px;

      font-size: 17px;
    }
  }

  &--hand {
    @media (min-width: $lg) {

      padding-top: 32px;
      padding-bottom: 32px;
      padding-left: 36px;

      font-size: 17px;

      border-left: 1px solid $border-header;
    }
  }

  &--works {
    @media (min-width: $lg) {

      margin-right: 60px;

      font-size: 15px;
    }
  }

  &--sale {
    @media (min-width: $lg) {

      font-size: 15px;
    }
  }

  @media (min-width: $lg) {
    /*padding-top: 16px;*/
  }
}

.site-list__item {
  @media (min-width: $md) {

    display: flex;
    padding-left: 0;

    box-sizing: border-box;
  }

  &--logo {
    display: flex;
    padding: 22px 0;

    border-bottom: 1px solid $border-header;

    @media (min-width: $md) {

      order: 0;
      padding: 0;
      padding-left: 50px;
      margin: 0;

      background-color: $white;
    }

    @media (min-width: $lg) {

      order: 1;
      padding-left: 52px;

      flex-basis: auto;
    }
  }

  &--delivery {
    display: none;

    @media (min-width: $md) {
      display: flex;
      order: 5;
      flex-basis: 35%;
      flex-grow: 1;
      justify-content: flex-end;
      padding-right: 50px;

      a {
        font-weight: 400;
      }
    }

    @media (min-width: $lg) {

      position: relative;
      order: 5;
      flex-basis: 40%;
    }
  }

  &--promotion {
    display: none;

    @media (min-width: $lg) {

      position: relative;
      display: flex;
      order: 4;
      flex-basis: 40%;
      align-items: center;
      padding-left: 50px;
    }
  }

  &--user {
    @media (min-width: $md) {

      order: 2;
      display: flex;
      flex-grow: 1;
      flex-basis: 75%;
      justify-content: flex-end;

      padding-right: 50px;
      padding-bottom: 0;

      border-bottom: 1px solid $border-header;
      background-color: $white;
    }

    @media (min-width: $lg) {

      order: 2;
      /*flex-basis: 39%;*/
      flex-basis: 30%;
    }
  }

  &--range {
    @media (min-width: $md) {

      order: 3;
      display: flex;
      flex-basis: 50%;
      padding-left: 50px;
    }

    @media (min-width: $lg) {

      order: 0;
      flex-basis: 39%;

      background-color: $white;
      border-bottom: 1px solid $border-header;
    }
  }
}
