.slider__rewind {
  display: flex;
  justify-content: center;
  width: 260px;

  @media (min-width: $md) {
    width: 175px;
  }
}

.slider__toggle {
  position: relative;
  padding: 0;
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  border: 1px solid $border-slider-toggle;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $md) {
    border: 0;
  }

  &--prev {
    &::after {
      background-image: url("../img/icon-left-arrow.svg");
    }
  }

  &--next {
    border-width: 1px 1px 1px 0;

    &::after {
      background-image: url("../img/icon-right-arrow.svg");
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 26px;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 50px 26px;
  }

  &:hover::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }
}
