.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.social-list__item {
  display: flex;
  justify-content: center;
  margin-right: 42px;

  /*&:nth-child(3) {
  margin-right: 0;
}*/
}

.social-list__link {
  display: block;
  margin: auto;
  cursor: pointer;

  @media (min-width: $lg) {
    margin-top: 5px;
  }

  &--instagram {
    width: 22px;
    height: 22px;

    &:hover {
      svg {
        fill: $hover-footer-social;
      }
    }

    &:active {
      svg {
        fill: $active-footer-social;
      }
    }
  }

  &--facebook {
    width: 15px;
    height: 28px;
    margin-top: -6px;

    @media (min-width: $lg) {
      margin-top: 0;
    }

    &:hover {
      svg {
        fill: $hover-footer-social;
      }
    }

    &:active {
      svg {
        fill: $active-footer-social;
      }
    }
  }

  &--twitter {
    width: 24px;
    height: 21px;
    margin-right: 5px;

    &:hover {
      svg {
        fill: $hover-footer-social;
      }
    }

    &:active {
      svg {
        fill: $active-footer-social;
      }
    }
  }
}
