.table-feature {
  width: 100%;

  font-size: 15px;
  line-height: 20px;
  color: $color-table-body;

  border-collapse: collapse;
}

.table-feature__row {
  border-bottom: 1px solid $border-table;
}

.table-feature__td {
  padding: 8px 10px 11px 0;

  @media (min-width: $md) {
    padding-right: 0;
  }

  &:nth-child(even) {
    padding-left: 10px;

    @media (min-width: $md) {
      padding-left: 0;
    }
  }
}
