$black: #000000;
$white: #ffffff;

$border-header: #ececec;
$border-footer: #e5e5e5;
$border-button-primery: #444444;
$border-table: #ececec;
$border-product: #ececec;
$border-video:  #ececec;
$border-input-radio: #444444;
$border-slider-toggle: #ececec;
$border-modal: #c6c6c6;
$border-input-modal: rgba(68, 68, 68, 0.1);
$border-button-modal: #63d1bb;

$bg-banner: #fafafa;
$bg-interior: #63d1bb;
$bg-toys: #56c3b2;
$bg-footer: #f1f1f1;
$bg-button-primery: #ffffff;
$bg-button-hover: #444444;
$bg-button-active: #444444;
$bg-catalog: #f1f1f1;
$bg-form: #f1f1f1;
$bg-checked-radio: #62d1ba;
$bg-checked-checkbox: #444444;
$bg-header-index: #fafafa;
$bg-header-inner: #f1f1f1;
$bg-checkbox-wrap: #f1f1f1;
$bg-communication-wrap: #f1f1f1;
$bg-input-communication: #f1f1f1;
$bg-video-content: #56c3b2;
$bg-button-modal: #63d1bb;

$color-promo-marker: #63d1bb;
$color-promo-description: #444444;
$color-promo-table: #444444;
$color-contacts: #444444;
$color-button: #444444;
$color-review: #444444;
$color-product-description: #444444;
$color-table-body: #444444;
$color-order-description: #444444;
$color-contacts-email: #444444;
$color-line: #62d1ba;
$color-legend: #63d1bb;
$color-form-note: #444444;
$color-video-description: #444444;
$color-textaria-placeholder: rgba(68, 68, 68, 0.3);
$color-textaria-communication: rgba(68, 68, 68, 0.3);
$color-textaria-text: rgba(68, 68, 68, 0.3);
$color-footer-copyright: #63d1bb;
$color-product-cart: rgba(0, 0, 0, 0.2);
$color-delivery: #444444;

$hover-footer-copyright: #46c1ae;
$hover-bg-interior: #59d5bc;
$hover-bg-toys: #46c1ae;

$hover-product-cart: #63d1bb;
$hover-color-menu: rgba(0, 0, 0, 0.6);
$hover-color-search: #63d1bb;
$hover-logo-footer: #46c1ae;
$hover-footer-social: #46c1ae;
$hover-border-input: #62d1ba;
$hover-input-modal: #c7c7c7;
$hover-color-email: #46c1ae;
$hover-img-communication: #62d1ba;

$activ-color-search: rgba(99, 209, 187, 0.3);
$activ-color-menu: rgba(0, 0, 0, 0.3);
$active-product-cart: rgba(99, 209, 187, 0.3);
$active-logo-footer: rgba(70, 193, 174, 0.3);
$active-footer-social: rgba(70, 193, 174, 0.3);
$active-footer-copyright: rgba(70, 193, 174, 0.3);
$active-copyright-text: rgba(0, 0, 0, 0.3);
$active-bg-interior: #59d5bc;
$active-bg-toys: #46c1ae;
$active-border-input: #c7c7c7;
$active-input-modal: #62d1ba;
$active-button-color: #8d8d8d;

$sx: 320px;
$md: 768px;
$lg: 1150px;
$lg-1: 1149px;
$md-1: 767px;
