$black: #000000;
$white: #ffffff;

$border-header: #ececec;
$border-footer: #e5e5e5;
$border-button-primery: #444444;
$border-table: #ececec;
$border-product: #ececec;
$border-video:  #ececec;
$border-input-radio: #444444;

$bg-banner: #fbfbfb;
$bg-interior: #63d1bb;
$bg-toys: #56c3b2;
$bg-footer: #f1f1f1;
$bg-button-primery: #ffffff;
$bg-button-hover: #444444;
$bg-catalog: #f1f1f1;
$bg-form: #f1f1f1;
$bg-checked-radio: #62d1ba;
$bg-checked-checkbox: #444444;

$color-promo-marker: #63d1bb;
$color-promo-description: #444444;
$color-promo-table: #444444;
$color-contacts: #444444;
$color-button: #444444;
$color-review: #444444;
$color-product-description: #444444;
$color-table-body: #444444;
$color-contacts-email: #444444;
$color-line: #62d1ba;
$color-legend: #63d1bb;
$color-form-note: #444444;
$color-video-description: #444444;
$color-textaria-placeholder: rgba(68, 68, 68, 0.3);
$color-textaria-communication: rgba(68, 68, 68, 0.3);
$color-textaria-text: rgba(68, 68, 68, 0.3);
