$black: #000000;
$white: #ffffff;

$border-header: #ececec;

$bg-banner: #fbfbfb;
$bg-interior: #63d1bb;
$bg-toys: #56c3b2;

$color-promo-marker: #63d1bb;
$color-promo-description: #444444;
$color-promo-table: #444444;
